extends layout 

block content 
  section(class="form-container")
    h1=title 
    form(method="post" action="/inventory/all")
      input(name="name" placeholder="Item Name")
      br
      input(name="description" placeholder="Item Description")
      br
      input(name="category" placeholder="Item Category")
      br
      input(name="price" placeholder="Item Price")
      br
      button(type="submit") Submit
  
    a(href="/") Back Home