extends layout

block content
  p All Items
  each item in item_list 
    li 
      a(href=`/inventory/${item._id}`)= item.name


  form(action="/inventory/add" method="get")
    button(type="submit") Add Item to Inventory 