extends layout 

block content 
  section(class="info-container")
    h2 All Categories 
    table 
      tr 
        th Category Name 
        th Description 
        th
      each category in category_list 
        tr 
          td=category.categoryName 
          td=category.categoryDescription 
          td 
            a(href=`/category/${category._id}`) View
        