extends layout 

block content 
  section(class="info-container")
    h2 All Categories 
    table 
      tr 
        th Category Name 
        th Description 
        th
      each category in category_list 
        tr 
          td
            a(href=`/category/${category._id}` class='seller-link') #{category.categoryName }
          td=category.categoryDescription 
          td 
        