extends layout 

block content 
  section(class="info-container") 
    h2 All Users 
    each user in user_list 
      li 
        a(href=`/user/${user._id}`) #{user.userFirstName} #{user.userLastName}

    br
    br
    a(href="/") Go Back 