extends layout

block content
  header Inventory Management
  main 
    aside Links
      ul
        li
          a Add Item
        li
          a(href="/inventory/all") View Inventory
        li
          a View Cart
    section Content
