extends layout

block content
  section(class="info-container")
    table 
      tr 
        th Number of Sellers 
        th Number of Items in Inventory 
        th Number of Categories 
        th
      tr
        td=allCounts.userCount 
        td=allCounts.itemCount 
        td=allCounts.categoryCount
        td

