doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    aside(class="sidebar")
      h2 Actions
      ul 
        li
          a(href="/user/add") Add User 
        li
          a(href="/inventory/add") Add Item
        li
          a(href="/categories/add") Add Category
        br
        br
        li
          a(href="/users/all") View Users
        li
          a(href="/inventory/all") View Inventory
        li 
          a(href="/categories/all") View Categories
        br
        br

    main(class="main-content")
      block content
